.featured-works {
    background: linear-gradient(180deg, #141414, #111111);
    padding: 105px 0;
    overflow: hidden;
}

.featured-works-title {
    padding: 0 2.5%;
    font-size: 42px;
    font-weight: 500;
    color: white;
    margin-bottom: 44px;
}

.featured-works-title span {
    font-family: 'ADVENTURES';
    font-size: 32px;
}

/* WRAPPER */

.featured-works-cont {
    width: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
}

/* TRACK */

.featured-works-track {
    display: flex;
    align-items: center;
    gap: 20px;
    will-change: transform;
    cursor: grab;
}

.featured-works-track:active {
    cursor: grabbing;
}

/* SLIDES */

.featured-work-item {
    flex-shrink: 0;

    width: 65vw;
    height: 94vh;

    border-radius: 18px;
    overflow: hidden;
    position: relative;

    background-image: url(../img/featured-works/work.png);
    background-size: cover;
    background-position: center;

    transition:
        transform .6s ease,
        opacity .6s ease;
}

/* ACTIVE */

.featured-work-item.is-active {
    opacity: 1;
    transform: scale(1);
}

/* SIDE SLIDES */

.featured-work-item.is-prev,
.featured-work-item.is-next {
    opacity: .45;
    transform: scale(.99);
}

/* OTHERS */

.featured-work-item:not(.is-active):not(.is-prev):not(.is-next) {
    opacity: .15;
    transform: scale(.98);
}

/* TOP INFO */

.work-item-top-info {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;

    display: flex;
    justify-content: space-between;

    z-index: 5;
    color: white;
}

.work-item-top-info-category {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
}

.work-item-top-info-category span {
    display: block;
    padding-left: 12px;
}

.work-item-top-info-data {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 400;
}

/* BOTTOM */

.work-item-bottom-info {
    position: absolute;

    left: 24px;
    right: 24px;
    bottom: 24px;

    display: flex;
    justify-content: space-between;
    align-items: end;

    z-index: 5;
    color: white;
}

.work-item-bottom-info-title {
    font-size: 40px;
    text-transform: uppercase;
}

.work-item-bottom-info-tags {
    display: flex;
    align-items: center;
    gap: 8px;
}

.work-item-bottom-info-tags p {
    font-size: 14px;
    text-transform: uppercase;
}

.tag-divider-circle {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: white;
}

/* SHADOWS */

.work-item-top-shadow {
    position: absolute;
    inset: 0 0 auto 0;
    height: 25%;

    background:
    linear-gradient(180deg,
    rgba(0,0,0,.55),
    rgba(0,0,0,0));
}

.work-item-bottom-shadow {
    position: absolute;
    inset: auto 0 0 0;
    height: 25%;

    background:
    linear-gradient(0deg,
    rgba(0,0,0,.55),
    rgba(0,0,0,0));
}
.item-2 {
    background-image: url(../img/featured-works/work2.png);
}

.item-3 {
    background-image: url(../img/featured-works/work3.png);
}





